<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--初始页面的配置-->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>contextConfigLocationValue</param-value>
    </context-param>

    <!--访问的servlet-->
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>SecondServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>

    <!--定义过滤器-->
    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>MyFilter</filter-class>
        <init-param>
            <param-name>canshu</param-name>
            <param-value>我是参数</param-value>
        </init-param>
    </filter>

    <filter-mapping>  <!--过义过滤器，然后映射到一个 URL 或 Servlet  web.xml 中的 filter-mapping 元素的顺序决定了 Web 容器应用过滤器到 Servlet 的顺序-->
        <filter-name>MyFilter</filter-name>
        <!--<url-pattern>/*</url-pattern>-->
        <servlet-name>FirstServlet</servlet-name>
        <servlet-name>SecondServlet</servlet-name>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.html</location>
    </error-page>

    <error-page>
        <exception-type>
            javax.servlet.ServletException
        </exception-type >
        <location>/servletErr.html</location>
    </error-page>

    <error-page>
        <exception-type>java.io.IOException</exception-type >
        <location>/ioErr.html</location>
    </error-page>


</web-app>